<h1 class="container" style="margin-top: 80px;">Módulo 2/Frontend 3</h1>
<section class="container mt-3">
  <div class="container mt-3">
    <div class="container mt-5">
      <h1 class="text-center">Principais Conceitos de CSS</h1>
      <div class="row">
        <div class="col-12 col-md-6 mb-4 d-flex">
          <div class="card flex-fill">
            <div class="card-body">
              <h5 class="card-title">O que é CSS?</h5>
              <p class="card-text">CSS (Cascading Style Sheets) é uma linguagem de estilo utilizada para definir a
                apresentação de documentos HTML. Ele controla o layout, as cores, as fontes e outros aspectos visuais das
                páginas web.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-4 d-flex">
          <div class="card flex-fill">
            <div class="card-body">
              <h5 class="card-title">Seletores</h5>
              <p class="card-text">Seletores são usados para "selecionar" os elementos HTML que você deseja estilizar.
                Exemplos de seletores incluem seletores de tipo (como <code>div</code>), seletores de classe (como
                <code>.minha-classe</code>) e seletores de ID (como <code>#meu-id</code>).</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-4 d-flex">
          <div class="card flex-fill">
            <div class="card-body">
              <h5 class="card-title">Propriedades e Valores</h5>
              <p class="card-text">As propriedades CSS são usadas para definir aspectos específicos do estilo de um
                elemento, como cor, margem e fonte. Cada propriedade tem um valor, como <code>color: red;</code> ou
                <code>margin: 20px;</code>.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-4 d-flex">
          <div class="card flex-fill">
            <div class="card-body">
              <h5 class="card-title">Caixa de Modelo (Box Model)</h5>
              <p class="card-text">O modelo de caixa do CSS descreve o layout dos elementos na página. Ele é composto por
                margens, bordas, preenchimentos (padding) e o próprio conteúdo. Manipular esses elementos ajuda a controlar
                o espaçamento e o layout.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-4 d-flex">
          <div class="card flex-fill">
            <div class="card-body">
              <h5 class="card-title">Flexbox</h5>
              <p class="card-text">O Flexbox é um modelo de layout que permite a criação de layouts complexos de maneira
                mais simples e eficiente. Ele facilita o alinhamento e a distribuição de espaço entre itens dentro de um
                contêiner, mesmo quando o tamanho dos itens é desconhecido.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-4 d-flex">
          <div class="card flex-fill">
            <div class="card-body">
              <h5 class="card-title">Grid Layout</h5>
              <p class="card-text">O Grid Layout é uma poderosa ferramenta de layout CSS que permite criar layouts
                bidimensionais com colunas e linhas. Ele é especialmente útil para criar designs de grade complexos e
                responsivos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>

