<!-- CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- JS com Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- JavaScript dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
  #qrcode-container {
    position: fixed;
    /* Fixa o elemento na tela */
    top: 20px;
    /* Distância do topo */
    right: 20px;
    /* Distância da direita */
    z-index: 1000;
    /* Garante que o QR Code fique por cima de outros elementos */
    width: 150px;
    /* Largura do QR Code */
    height: 150px;
    /* Altura do QR Code */
  }

  #qrcode-container img {
    width: 100%;
    /* Faz a imagem ocupar toda a largura do container */
    height: auto;
    /* Ajusta a altura automaticamente para manter a proporção */
  }

  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    #qrcode-container {
      width: 80px;
      height: 80px;
    }
  }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<div id="qrcode-container" class="mt-5">
  <img src="https://res.cloudinary.com/dyhjjms8y/image/upload/v1717257486/Captura_de_tela_2024-06-01_155812_npehrw.png"
    alt="QR Code">
</div>

<section class="container py-5 mt-5" id="roadmap">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="display-4 mb-4">Roadmap das Aulas</h1>

      <p class="lead text-center">
        Confira o cronograma das aulas e os tópicos que serão abordados:
      </p>

      <div class="text-center">
        <img
          src="https://res.cloudinary.com/dyhjjms8y/image/upload/v1717115396/Captura_de_tela_2024-05-31_002953_evnk75.png"
          alt="Roadmap das Aulas" class="img-fluid rounded shadow">
      </div>
    </div>
  </div>
</section>


<section class="container" style="margin-top: 80px;">
  <div>
    <h1 class="mb-4">SRE: Você está fazendo isso errado!</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Curso</th>
          <th>Semana</th>
          <th>Pontuação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://learn.microsoft.com/pt-br/training/modules/intro-to-site-reliability-engineering/4-key-principles-1-virtuous-cycles" target="_blank"
              class="btn btn-link text-decoration-none text-dark fw-bold">
              <i class="fa-solid fa-share-from-square"></i> Princípios e práticas fundamentais da SRE: ciclos virtuosos            </a>
          </td>
          <td>Semana 09</td>
          <td>0</td>
        </tr>
        <tr>
          <td>
            <a href="https://learn.microsoft.com/pt-br/training/modules/intro-to-site-reliability-engineering/5-key-principles-2-human-side-of-sre" target="_blank"
              class="btn btn-link text-decoration-none text-dark fw-bold">
              <i class="fa-solid fa-shield-halved"></i> Princípios e práticas fundamentais da SRE: O lado humano da SRE
            </a>
          </td>
          <td>Semana 09</td>
          <td>0</td>
        </tr>
        <tr>
          <td>
            <a href="https://learn.microsoft.com/pt-br/training/modules/intro-to-site-reliability-engineering/6-getting-started" target="_blank"
              class="btn btn-link text-decoration-none text-dark fw-bold">
              <i class="fa-solid fa-share"></i> SRE na prática. Como as empresas tem usado essa disciplina na prática?
            </a>
          </td>
          <td>Semana 09</td>
          <td>0</td>
        </tr>
        <tr>
          <td>
            <a href="https://cloudcasters.io/pt-br/site-reliability-engineer-sre/"
              target="_blank" class="btn btn-link text-decoration-none text-dark fw-bold">
              <i class="fa-solid fa-shield"></i> Site Reliability Engineer (SRE)
            </a>
          </td>
          <td>Semana 09</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="container py-5" id="esquenta-kahoot">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="display-4 mb-4">
        <i class="fas fa-gamepad me-2 text-warning"></i> Vamos ver se vocês estão fazendo Autoestudos!
      </h1>

      <p class="lead">
        Prepare-se para o quiz!
      </p>

      <div class="d-flex justify-content-center mt-4">
        <a href="https://kahoot.it/" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-warning">
          <i class="fas fa-play me-2"></i> Jogar Kahoot!
        </a>
      </div>
    </div>
  </div>
</section>

<section class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center display-4 mb-4">SRE (Site Reliability Engineering)</h2>
      <p class="lead text-center">Explorando a Engenharia de Confiabilidade de Sites</p>

      <div class="card mb-4">
        <div class="card-body">
          <p class="card-text">SRE é uma disciplina que incorpora aspectos de engenharia de software e aplica-os a
            problemas de operações de TI. O principal objetivo é criar sistemas de software escaláveis e altamente
            confiáveis.</p>
        </div>
      </div>

      <div class="accordion" id="sreAccordion">
        <div class="accordion-item">
          <h3 class="accordion-header" id="sreHeadingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#sreCollapseOne"
              aria-expanded="true" aria-controls="sreCollapseOne">
              Principais Conceitos
            </button>
          </h3>
          <div id="sreCollapseOne" class="accordion-collapse collapse show" aria-labelledby="sreHeadingOne"
            data-bs-parent="#sreAccordion">
            <div class="accordion-body">
              <ul>
                <li><strong>Automatização:</strong> Eliminação de trabalho manual repetitivo para aumentar a eficiência
                  e reduzir erros.</li>
                <li><strong>Monitoramento e Observabilidade:</strong> Coleta de dados e métricas para entender o
                  comportamento do sistema e identificar problemas.</li>
                <li><strong>Gerenciamento de Incidentes:</strong> Processos para responder e resolver incidentes de
                  forma rápida e eficaz.</li>
                <li><strong>Engenharia de Capacidade:</strong> Garantia de que o sistema tenha recursos suficientes para
                  atender à demanda.</li>
                <li><strong>Gerenciamento de Mudanças:</strong> Implementação de mudanças de forma controlada para
                  minimizar o risco de interrupções.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="sreHeadingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#sreCollapseTwo" aria-expanded="false" aria-controls="sreCollapseTwo">
              Benefícios
            </button>
          </h3>
          <div id="sreCollapseTwo" class="accordion-collapse collapse" aria-labelledby="sreHeadingTwo"
            data-bs-parent="#sreAccordion">
            <div class="accordion-body">
              <ul>
                <li>Maior confiabilidade e disponibilidade do sistema.</li>
                <li>Redução do tempo de inatividade e interrupções.</li>
                <li>Melhora da escalabilidade e desempenho do sistema.</li>
                <li>Maior eficiência operacional e redução de custos.</li>
                <li>Melhora da colaboração entre equipes de desenvolvimento e operações.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center display-4 mb-4">Tecnologias Essenciais para SRE</h2>
      <p class="lead text-center">Ferramentas que capacitam a Engenharia de Confiabilidade de Sites</p>

      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card h-100">
            <div class="card-body d-flex flex-column align-items-center">
              <i class="fab fa-docker display-4 mb-3"></i>
              <h5 class="card-title">Kubernetes</h5>
              <p class="card-text text-center">Plataforma open source para automatizar a implantação, o dimensionamento
                e o gerenciamento de aplicativos em contêineres.</p>
              <a href="https://kubernetes.io/" class="btn btn-primary mt-auto" target="_blank">Saiba mais</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body d-flex flex-column align-items-center">
              <i class="fas fa-server display-4 mb-3"></i>
              <h5 class="card-title">Rancher</h5>
              <p class="card-text text-center">Plataforma completa de gerenciamento de Kubernetes que facilita a
                operação de clusters em qualquer lugar.</p>
              <a href="https://www.rancher.com/" class="btn btn-primary mt-auto" target="_blank">Saiba mais</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body d-flex flex-column align-items-center">
              <i class="fas fa-code-branch display-4 mb-3"></i>
              <h5 class="card-title">Terraform</h5>
              <p class="card-text text-center">Ferramenta de código aberto para provisionar e gerenciar infraestrutura
                em nuvem de forma segura e eficiente.</p>
              <a href="https://www.terraform.io/" class="btn btn-primary mt-auto" target="_blank">Saiba mais</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body d-flex flex-column align-items-center">
              <i class="fas fa-cogs display-4 mb-3"></i>
              <h5 class="card-title">Ansible</h5>
              <p class="card-text text-center">Ferramenta de automação de TI que simplifica tarefas como provisionamento
                em nuvem, gerenciamento de configuração e implantação de aplicativos.</p>
              <a href="https://www.ansible.com/" class="btn btn-primary mt-auto" target="_blank">Saiba mais</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center display-4 mb-4">Render: Implante seus projetos com facilidade</h2>
      <p class="lead text-center">Plataforma de hospedagem em nuvem para aplicativos web, APIs, sites estáticos e muito
        mais.</p>

      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title d-flex align-items-center"><i class="fab fa-node-js me-2"></i>Node.js</h5>
              <pre><code class="language-yaml">
services:
  - type: web
    name: meu-app-node
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 3000
    domains:
      - www.meu-app-node.com
                            </code></pre>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title d-flex align-items-center"><i class="fab fa-python me-2"></i>Python</h5>
              <pre><code class="language-yaml">
services:
  - type: web
    name: meu-app-python
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PORT
        value: 8000
    domains:
      - www.meu-app-python.com
                            </code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-yaml.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css">

<section class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card bg-light text-dark">
        <div class="card-body text-center">
          <h2 class="card-title display-5 mb-4">
            <i class="fab fa-docker me-2"></i> Kubernetes Code-Along
          </h2>
          <p class="card-text lead">
            Mergulhe no mundo do Kubernetes com este guia prático!
          </p>
          <a href="https://github.com/afonsobrandaointeli/kubernetes-example" class="btn btn-primary btn-lg"
            target="_blank">
            <i class="fas fa-code me-2"></i> Começar o Code-Along
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container py-5 mb-5" id="avaliacao">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card text-center border-info shadow">
        <div class="card-header bg-info text-white">
          <i class="fas fa-comment-dots me-2"></i> Sua Opinião é Importante!
        </div>
        <div class="card-body">
          <p class="lead">
            Deixe seu feedback com estrelas e comentários e
            ajude-nos a melhorar o Inteli e o curso.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
