<div class="container" style="margin-top: 80px;">
<div class="card">
  <div class="card-header">
    Módulo 2
  </div>
  <div class="card-body">
    <h5 class="card-title">Aplicação para ambiente web</h5>
    <p class="card-text text-justify">Este módulo abrange os fundamentos da Engenharia Web, incluindo o projeto e análise de sistemas e o desenvolvimento e
    gestão de banco de dados, proporcionando uma compreensão aprofundada para construir e manter aplicações web robustas e
    eficientes.</p>
    <div class="container mt-5 d-flex flex-column bd-highlight mb-3">
      <a href="/mod2/frontend3" class="btn btn-secondary btn-lg m-1">Front-end 3 - CSS e Javascript</a>
      <a href="/" class="btn btn-secondary btn-lg m-1">Testes e automação I - Testes Unitários</a>
      <a href="/" class="btn btn-secondary btn-lg m-1">Testes e automação II - Testes Manuais e TDD</a>
      <a href="/" class="btn btn-secondary btn-lg m-1">Deploy em servidor</a>
      <a href="/" class="btn btn-secondary btn-lg m-1">Mergulhando nas Redes</a>
    </div>
  </div>
</div>
</div>
